.cardContainer{
    width: 70%;
    height: 500px;
    background-color: #f9d9aa;
    position: absolute;
    top: 70px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    left: 200px;
    gap: 15px;
    border-radius: 30px;
}