.cards{
    width: 300px;
    height: 240px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.imageContainer{
    width: 80%;
    height: 50%;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.textProduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.priceContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    gap: 10px;
}

.btn button{
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9d9aa;
}

span{
    background-color: #f9d9aa;
    border-radius: 30px;
    font-size: 18px;
    padding: 3px;
}