.header {
    display: flex;
    width: 60%;
    margin-left: 100px;
    justify-content: space-around;
}


.header div:first-child{
    margin-top: 20px;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

ul li {
    font-weight: bold;
}

ul li:first-child{
    color: orange;
}

